.main {
  min-height: 100vh;

  @media (width >= 800) {
    padding: 6rem;
  }
}

.description {
  z-index: 2;
  display: inherit;
  width: 100%;
  max-width: var(--max-width);
  align-items: inherit;
  justify-content: inherit;
  font-family: var(--font-mono);
  font-size: 0.85rem;
}

.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(var(--callout-border-rgb) 0.3);
  border-radius: var(--border-radius);
  margin: 0;
  background-color: rgb(var(--callout-rgb) 0.5);
}

.code {
  font-family: var(--font-mono);
  font-weight: 700;
}

.grid {
  display: grid;
  width: var(--max-width);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(33%, auto));
}

.card {
  padding: 1rem 1.2rem;
  border: 1px solid rgb(var(--card-border-rgb) 0);
  border-radius: var(--border-radius);
  background: rgb(var(--card-rgb) 0);
  transition:
    background 200ms,
    border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  margin-bottom: 0.7rem;
  font-weight: 600;
}

.card p {
  max-width: 34ch;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  opacity: 0.6;
  text-wrap: balance;
}

.center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.center > div {
  position: relative;
}

.center::before {
  width: 480px;
  height: 360px;
  border-radius: 50%;
  margin-left: -400px;
  background: var(--secondary-glow);
}

.center::after {
  z-index: -1;
  width: 240px;
  height: 180px;
  background: var(--primary-glow);
}

.center::before,
.center::after {
  position: absolute;
  left: 50%;
  content: "";
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  overflow: hidden;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  border-radius: var(--border-radius);
  margin-left: 16px;
  box-shadow: 0 2px 8px -1px #0000001a;
  transform: translateZ(0);
}

.thirteen::before,
.thirteen::after {
  position: absolute;
  z-index: -1;
  content: "";
}

/* Conic Gradient Animation */
.thirteen::before {
  width: 200%;
  height: 200%;
  animation: 6s rotate linear infinite;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgb(var(--tile-start-rgb) 1),
    rgb(var(--tile-end-rgb) 1)
  );
  background-clip: content-box;
  inset: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    border: 1px solid rgb(var(--card-border-rgb) 0.15);
    background: rgb(var(--card-rgb) 0.1);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (width <= 1023px) {
  .content {
    padding: 4rem;
  }

  .grid {
    max-width: 320px;
    margin-bottom: 120px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    height: 300px;
    transform: none;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .description p {
    align-items: center;
    padding: 2rem 1rem 1.4rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(var(--callout-border-rgb) 0.25);
    backdrop-filter: blur(24px);
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb) 1),
      rgb(var(--callout-rgb) 0.5)
    );
    background-clip: padding-box;
    inset: 0 0 auto;
  }

  .description div {
    z-index: 1;
    height: 200px;
    align-items: flex-end;
    padding: 2rem;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    inset: auto 0 0;
    pointer-events: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
